{% extends 'base.html' %}
{% block content %}
    
    <div class="d-flex justify-content-center align-items-center vh-100">
        <div class="container" style="max-width: 500px;">
          <form method="POST">
            {% csrf_token %}
            <div class="mb-3">
              <label for="username" class="form-label">username</label>
              <input type="text" name="username" class="form-control" id="inputEmail4">
            </div>
            <div class="mb-3">
              <label for="inputPassword4" class="form-label">Password</label>
              <input type="password" name="password" class="form-control" id="inputPassword4">
            </div>
            <div class="text-center">
              <button type="submit" class="btn btn-primary">Sign in</button>
            </div>
            <div>
                <p>Don't have an Account?<a href="">Register Here</a> </p>
            </div>
          </form>
        </div>
      </div>
    
{% endblock %}
 